EXPO_PUBLIC_SUPABASE_URL=https://rtyvmyvidkrwmeeeioww.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0eXZteXZpZGtyd21lZWVpb3d3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4Nzc2NzcsImV4cCI6MjA5NDQ1MzY3N30.YhZfhZzeXUHU939x74EOQeE9hUSFXhToDuSyTIlLjjs

EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
EXPO_PUBLIC_CLOUDINARY_PRESET=xyz-unsigned

# Backend API — use your machine's LAN IP so physical devices can reach it
EXPO_PUBLIC_API_BASE_URL=https://nexttrip-production.up.railway.app/api/v1
